/**** Глобальные стили приложения ****/

html {
  min-height: 100vh;
  background: #221F02;
  font: 16px Roboto;
  color: #ccc;
}

a {
  text-decoration: none;
}

.hidden {
  display: none !important;
}