/**** Баннер ****/

.banner {
  position: relative;
  height: 200px;
  background: url(../images/css-banner.jpg) no-repeat center center / 100%
}

.banner a {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.banner a[href="#home"]:hover {
  transform: translateX(15px) scale(1.1);
  text-shadow: 0 0 25px #000;
}