/**** Баннер ****/

.banner-wrapper {
  height: 200px;
  overflow: hidden;
}

.banner {
  transition: .5s linear;
  height: 200px;
  background-image: url(../images/css-banner.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.banner:hover {
  transform: scale(1.05);
}