/**** Таблица серверов ****/

.servers {
  width: calc(100% - 200px);
  border-radius: 50px;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 14px;
}

.servers a {
  font-size: 14px;
}

.servers th {
  padding: 10px;
  border-bottom: 1px solid #fff;
  text-align: left;
}

.servers td {
  padding: 10px;
  border-bottom: 1px solid #555;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.servers td:nth-of-type(1),
.servers th:nth-of-type(1) {
  width: 70%;
}

.servers td:nth-of-type(2),
.servers th:nth-of-type(2) {
  width: 30%;
}

.servers td:nth-of-type(3),
.servers th:nth-of-type(3) {
  width: 60px;
}

.servers td:nth-of-type(4),
.servers th:nth-of-type(4) {
  width: 170px;
  text-align: right;
}

.servers tr:first-of-type td {
  padding-top: 10px;
}